Segundo año/Programación Móvil 3/Clases.zip
Segundo año/Taller de Diseño/Grabaciones.zip
Segundo año/Taller de Programación/Grabaciones.zip
Segundo año/Programación Móvil 2/Grabaciones.zip
Segundo año/Introducción a las Comunicaciones/Recursada/Grabaciones.zip
Segundo año/Gestión de Datos/Grabaciones.zip
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Cookpad/Screenshot_20221122-141019_Cookpad.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Cookpad/Screenshot_20221122-141023_Cookpad.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Cookpad/Screenshot_20221122-141032_Cookpad.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Cookpad/Screenshot_20221122-141043_Cookpad.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Cookpad/Screenshot_20221122-141127_Cookpad.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Tasty/Screenshot_20221122-140924_Tasty.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Tasty/Screenshot_20221122-140937_Tasty.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Tasty/Screenshot_20221122-140949_Tasty.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Competencias/Tasty/Screenshot_20221122-140954_Tasty.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Error/Pan on fire.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/62f383f4a57cc_03451790196447-a1l1-ss00148d.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/1222_203_Strawberry_APAC_600x412px.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/35050-7-chicken-meat-file.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/Azucar-progreso.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/chilli-2.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/gordal_olives.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/oil-vinegar-glass-bottle-1024x1009.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/olivenoel-gustav-heess.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/paprika.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/Retinol-Equivalents.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/Salt.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/Spaghettone-formato-centoni.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/unnamed.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Ingredients/Wynad_dish_1000__30155.1595364471.1280.1280.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Login/Facebook_f_logo_(2019).svg.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Login/Google__G__Logo.svg.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Login/the-kitchen-5028268.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/1200px-User_font_awesome.svg.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/asdasdqw.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/ba4c92e074b1edd5b0ec05724ad2ae78 copia.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/ba4c92e074b1edd5b0ec05724ad2ae78.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/chimney-home-icon-transparent-1 copia.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/chimney-home-icon-transparent-1.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/dsawqeqwe.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/qedsadqwe.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/qweasdasd.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/rIT_logodasd_selected.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Navigation Bar/rIT_logodasd.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Recipies/512ea43a-99c2-42a9-b73b-645e448a7c0f_16-9-discover-aspect-ratio_default_0.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Recipies/Hamburger-cheeseburger.webp
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Recipies/http___cdn.apartmenttherapy.info_image_upload_v1558443981_k_archive_0eb929bc2c007ebf6009316a327b1e37587045a4.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Recipies/mixed-grilled-meat-platter-barbecue-menu-grilled-meat-vegetables-food-recipe-background-close-up_114941-2430.jpg
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Register/Apron.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Users/147143.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Users/219969.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Users/219988.png
Segundo año/Diseño de Interfaces/Contenidos/TP Final/TP Final - Interfaces/Drawables/Users/219989.png
Segundo año/Diseño de Aplicaciones Móviles/Grabaciones.zip
Primer año/Base de Datos/Grabaciones.zip
Primer año/Inglés Técnico/Grabaciones.zip
Primer año/Inglés Tecnico 2/Grabaciones.zip
Primer año/Programación Avanzada/.Recursada_1erCuatri_2022/Grabaciones-2da-Cursada.zip
Primer año/Programación Avanzada/Grabaciones.zip
Primer año/Programación Básica/Grabaciones.zip
Primer año/Inglés Tecnico 2/Primer Parcial/Reunión en _General_-20211018_190251-Grabación de la reunión.mp4
Primer año/Inglés Tecnico 2/Primer Parcial/Reunión en _General_-20211018_190251-Grabación de la reunión.mp4
